#classSection{
    width: 80%;
}
.classInfo{
    height: 10%;
    border-bottom: 1px solid black;
}
#studentInfo{
    width: 20%;
    border-left: 1px solid black;
}
#studentList{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vmin;
}
.studentDesk{
    border: 1px solid black;
    width: 25%;
    position: relative;
}
.studentDesk:not(.empty){
    cursor: pointer;
}
.studentDesk:hover:not(.empty){
    background-color: lightgrey;
}
.studentName{
    text-align: center;
    font-weight: bold;
}
.greenLevel{
    border-color: lime;
}
.yellowLevel{
    border-color: yellow;
}
.orangeLevel{
    border-color: orange;
}
.redLevel{
    border-color: red;
    color: red;
}
.unknownLevel{
    border-color: grey;
}
.empty{
    border-color: lightgrey;
    color: lightgrey;
}
.empty .studentName{
    font-weight: normal;
}

#studentLessonInfo{
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    height: 100vh;
    overflow: scroll;
    width: 100vw;
}
.cornerLabel{
    position: relative;
    margin-top: 1.4em;
    border-top: .1em black solid;
}
.cornerLabel::before{
    position: absolute;
    left: 2%;
    top: 0;
    transform: translateY(-100%);
    background-color: black;
    color: white;
    padding: .2em;
}
.lessonObjective::before{
    content: 'Objective:'
}
.lessonSideBar::before{
    content: 'Sidebar: '
}
#attemptList::before{
    content: 'Submissions: ';
}
#studentLessonInfo .studentLessonSubmission{
    display: flex;
    border-bottom: 1px solid darkgrey;
}
#studentLessonInfo .studentLessonSubmission:nth-child(even){
    background-color: lightgrey;
}
.studentLessonSubmission .submissionMeta{
    width: 25%;
    border-right: 1px solid darkfgrey;
}
.studentLessonSubmission .submissionResult{
    width: 75%;
}
.studentLessonSubmission .codeErrorMessage{
    color: red;
}
.studentLessonSubmission.correctSubmission{
    color: lightgreen;
}
#rosterButton{

}
#lessonList{
    border-bottom: 2px solid black;
    height: 75%;
}
#lessonInfo{
    width: 75%;
    float: left;
    height: 100%;
}
#studentMenu{
    width: 100%;
    float: left;
    height: 100%;
}
.lessonSummaryItem{
    display: flex;
    width: 100%;
}
#lessonCompletionList{
    width: 100%;
    font-size: 10px;
}
.lessonSummaryItem:nth-child(even){
    background-color: lightgrey;
}
.lessonSummaryItem > .lessonNumber{
    width: 10%;
}
.lessonSummaryItem > .percentStudentsCompleted{
    width: 33%;
}
.lessonSummaryItem > .averageFailureCount{
    width: 33%;
}
