body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
*{
    box-sizing: border-box;
}
#codeSection{
    width: 80%;
    border-right: 3px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
#codeInput{
    height: 100%;
    width: 100%;
}
#submitCodeButton{
    position: absolute;
    right: 2%;
    top: 2%;
}
#output{
    height: 20%;
    border-bottom: 3px solid black;
    position: relative;
}
#outputArea{
    height: 100%;
    width: 100%;
}
#code{
    height: 70%;
    width: 100%;
    position: relative;
}
#infoSection{
    width: 30%;
    position: relative;
}
#lessonSection{
    height: 20%;
    border-bottom: 3px solid black;
    overflow: scroll;
}
#lessonExample{
    height: 40%;
    border-bottom: 3px solid black;
    overflow: scroll;
}
#lessonList{
    height: 30%;
    overflow-y: scroll;
    padding-right: 3ch;
}
#lessonTitle{
    height: 10%;
    width: 80%;
}
#lessonHelp{
    width: 20%;
    height: 10%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    background-color: lightgreen;
    cursor: pointer;
}
#lessonHelp > div{
    margin: auto;
}
.lessonItem{
    display: flex;
    font-size: 60%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition-duration: .5s;
}
.lessonItem:nth-child(even){
    background-color:whitesmoke;
}
.lessonItem:hover{
    color: white;
    background-color: black;
}
.lessonNumber{
    width: 20%;
}
.lessonName{
    width: 80%;
}
.lessonStatus{
    color: limegreen;
}
.attemptContainer{
    display: flex;
}
#modalShadow{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    display: flex;
}
#modalBody{
    margin: auto;
    background-color: white;
    min-height: 20%;
    min-width: 20%;
    display: flex;
    position: relative;
}
#modalMessage{
    margin: auto;
}
#modalClose{
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px;
    color: white;
    background-color: black;
    cursor: pointer;
}
#modalClose:hover{
    color: lime;
}
#templates{
    display: none;
}
.error{
    font-family: monospace;
    color: red;
}
.attention{
    animation-name: rattle;
    animation-duration: .25s;
    position: relative;
    filter: blur(0px);
    color: red;
    animation-iteration-count: 4;
    animation-fill-mode: alternate;
}
@keyframes rattle{
    0% {
        left: 0%;
    }
    25%{
        left: -5%;
    }
    50%{
        left: 5%;
    }
    75%{
        left: 0%;
    }
}
.correct{
    color: lime;
}
.lessonItem.currentLessonHighlight{
    background-color: lime;
    color: black;
}
.currentLessonHighlight:hover{
    background-color: green;
    color: lightgrey;
}
#logoutButton{
    position: absolute;
    right: 0;
    top: 3px;
    display: none;
}
#codeAttempts{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    display: none;
    border: 1px solid black;
}
.attemptMetaData{
    height: 30%;
    border-bottom: 1px solid black;
    font-size: 50%;
    overflow-y: scroll;
}
.attemptsData{
    height: 70%;
    overflow-y: scroll;
}
.studentLessonSubmission{
    border-bottom: 2px solid lightgrey;
}
.sideLabel::before{
    background-color: lightgrey;
    padding: 0 1ch;
    margin-right: 1ch;
}
.studentCode::before{
    content: 'code:'
}
.codeErrorMessage::before{
    content: 'error:'
}
.submittedElapsed::before{
    content: 'elapsed:'
}
.submitted::before{
    content: 'occurred:'
}
.submissionID::before{
    content: 'attempt: '
}
.closeCodeAttempts{
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: .5ch;
}
.closeCodeAttempts:hover{
    background-color: lightgrey;
    color: black;
}
.link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.collapsible > * {
    display: none;
}
.collapsible > .revealer{
    display: block;
}
.collapsible.revealed > *{
    display: block;
}

.helpNeeded{
    animation-name: helpFlash;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    background-color: grey;
}
@keyframes helpFlash{
    0% {
        background-color: grey;
    }
    55%{
        background-color: grey;
    }
    60%{
        background-color: red;
    }
    65%{
        background-color: grey;
    }
    70%{
        background-color: red;
    }
    75%{
        background-color: grey;
    }
    80%{
        background-color: red;
    }
    85%{
        background-color: grey;
    }
    100%{
        background-color: grey;
    }

}

.createAccountButton{
    display: block;
    margin: auto;
}

.createAccount{
    text-align: center;
}